@font-face {
  font-family: "iconfont"; /* Project id 1419346 */
  src: url('//at.alicdn.com/t/font_1419346_yxeuom1cu2l.woff2?t=1626499462113') format('woff2'),
  url('//at.alicdn.com/t/font_1419346_yxeuom1cu2l.woff?t=1626499462113') format('woff'),
  url('//at.alicdn.com/t/font_1419346_yxeuom1cu2l.ttf?t=1626499462113') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_relation:before {
  content: "\e66b";
}

.iconshow:before {
  content: "\e7f8";
}

.iconhide:before {
  content: "\e606";
}

.iconform:before {
  content: "\e60f";
}

.iconpeizhi:before {
  content: "\e607";
}

.iconconfig:before {
  content: "\e63c";
}

.iconiconfontplatformentrance-copy-copy:before {
  content: "\e613";
}

.iconjiankangdangan:before {
  content: "\e62f";
}

.icongerenjibenxinxi:before {
  content: "\e60c";
}

.iconhangzhengquhua:before {
  content: "\e60b";
}

.iconjiaoseguanli:before {
  content: "\e721";
}

.iconset:before {
  content: "\e61e";
}

.icon086:before {
  content: "\e604";
}

.iconyiyuan1:before {
  content: "\e663";
}

.iconmenu-management:before {
  content: "\e617";
}

.iconkeshi:before {
  content: "\e609";
}

.iconyonghuguanli:before {
  content: "\e614";
}

.iconcaidanguanli:before {
  content: "\e7ea";
}

.iconjigouguanli:before {
  content: "\e662";
}

.iconfuwuzhongxin:before {
  content: "\e605";
}

.iconxitongrizhi:before {
  content: "\e629";
}

.iconzidianguanli:before {
  content: "\e823";
}

.iconcanshu:before {
  content: "\e624";
}

.iconyihurenyuan:before {
  content: "\e88e";
}

.iconguahao:before {
  content: "\e6ca";
}

.iconguahao1:before {
  content: "\e603";
}

.iconjianchajianyan:before {
  content: "\e91c";
}

.iconjianchajianyanjichupeizhi:before {
  content: "\e661";
}

.iconjianchajianyanxuzhi:before {
  content: "\e612";
}

.iconjianchajianyan1:before {
  content: "\e608";
}

.iconjianchajianyandan:before {
  content: "\e7c8";
}

.iconjianchajianyanyuyue:before {
  content: "\e7cd";
}

.iconjianchajianyan2:before {
  content: "\e626";
}

.iconjianchajianyanbaogao-Normal:before {
  content: "\e632";
}

.iconmenzhen:before {
  content: "\e687";
}

.iconmenzhen1:before {
  content: "\e600";
}

.iconmenzhen2:before {
  content: "\e60e";
}

.iconmenzhen3:before {
  content: "\e601";
}

.iconmenzhen4:before {
  content: "\e746";
}

.iconmenzhen5:before {
  content: "\e678";
}

.iconhospitalyiyuanmenzhenzhensuoweishengyuanyiwushijiaotang:before {
  content: "\e62a";
}

.iconzhuyuan:before {
  content: "\e622";
}

.iconmenzhen6:before {
  content: "\e602";
}

.iconmenzhen7:before {
  content: "\e60d";
}

.iconzhuyuan1:before {
  content: "\e655";
}

.iconzhuyuan2:before {
  content: "\e72c";
}

.iconzhuyuan-:before {
  content: "\e6f4";
}

.iconzhuyuan3:before {
  content: "\e68f";
}

.iconmenzhen8:before {
  content: "\e60a";
}

.iconreservation:before {
  content: "\e72d";
}

.iconshouye:before {
  content: "\e73d";
}

.iconyaopin:before {
  content: "\e73f";
}

.iconxiaoxi:before {
  content: "\e740";
}

.iconyongyao:before {
  content: "\e741";
}

.iconxihuan:before {
  content: "\e742";
}

.iconwode:before {
  content: "\e743";
}

.iconanquan:before {
  content: "\e744";
}

.iconlishi:before {
  content: "\e745";
}

.iconxiangji:before {
  content: "\e748";
}

.icondingdan:before {
  content: "\e749";
}

.iconhuiyuan:before {
  content: "\e74a";
}

.iconchazhao:before {
  content: "\e74b";
}

.iconliwu:before {
  content: "\e74c";
}

.iconsaoma:before {
  content: "\e74f";
}

.icongouwu:before {
  content: "\e750";
}

.icondingwei:before {
  content: "\e751";
}

.icondianhua:before {
  content: "\e752";
}

.iconshezhi:before {
  content: "\e753";
}

.iconyouhui:before {
  content: "\e754";
}

.iconlinggan:before {
  content: "\e755";
}

.icondianzan:before {
  content: "\e756";
}

.iconshuru:before {
  content: "\e757";
}

.icontongzhi:before {
  content: "\e758";
}

.iconshanchu:before {
  content: "\e759";
}

.iconfenxiang:before {
  content: "\e75a";
}

.iconbianji:before {
  content: "\e75b";
}

.icondengdai:before {
  content: "\e75c";
}

.iconkefu:before {
  content: "\e75d";
}

.iconshuoming:before {
  content: "\e75e";
}

.iconliulan:before {
  content: "\e75f";
}

.iconjiancha:before {
  content: "\e760";
}

.iconshipin:before {
  content: "\e761";
}

.iconhuangguan:before {
  content: "\e762";
}

.iconxingji:before {
  content: "\e763";
}

.icongoumai:before {
  content: "\e764";
}

.icontixing:before {
  content: "\e765";
}

.iconyaoxiang:before {
  content: "\e766";
}

.iconyisheng:before {
  content: "\e767";
}

.icondianpu:before {
  content: "\e768";
}

.iconduihua:before {
  content: "\e769";
}

.icondizhi:before {
  content: "\e76a";
}

.iconbaogao:before {
  content: "\e76b";
}

.iconchufang:before {
  content: "\e76c";
}

.icondangan:before {
  content: "\e76d";
}

.iconfenlei:before {
  content: "\e76e";
}

.iconfufei:before {
  content: "\e76f";
}

.icontupian:before {
  content: "\e770";
}

.iconrili:before {
  content: "\e771";
}

.iconyuyin:before {
  content: "\e772";
}

.iconzhishi:before {
  content: "\e773";
}

.iconyuer:before {
  content: "\e774";
}

.iconyiyuan:before {
  content: "\e775";
}

.iconqiapian:before {
  content: "\e776";
}

.iconchuntianran:before {
  content: "\e777";
}

.icontizhong:before {
  content: "\e778";
}

.iconshuimian:before {
  content: "\e779";
}

.iconyundong:before {
  content: "\e77a";
}

.iconjingqi:before {
  content: "\e77b";
}

.iconyuedu:before {
  content: "\e77c";
}

.iconzongheke:before {
  content: "\e77d";
}

.iconmeirongke:before {
  content: "\e77e";
}

.iconchuanranke:before {
  content: "\e77f";
}

.iconyingyangke:before {
  content: "\e780";
}

.iconyanke:before {
  content: "\e781";
}

.iconhuayanke:before {
  content: "\e782";
}

.iconpifuke:before {
  content: "\e783";
}

.iconzhengxingke:before {
  content: "\e784";
}

.iconzhongyike:before {
  content: "\e785";
}

.iconshengzhike:before {
  content: "\e786";
}

.iconwaike:before {
  content: "\e787";
}

.iconneike:before {
  content: "\e788";
}

.iconminiaoke:before {
  content: "\e789";
}

.iconfuke:before {
  content: "\e78a";
}

.iconerke:before {
  content: "\e78b";
}

.iconzhongliuke:before {
  content: "\e78c";
}

.iconnaoke:before {
  content: "\e78d";
}

.iconneifenmike:before {
  content: "\e78e";
}

.iconguke:before {
  content: "\e78f";
}

.iconerbihouke:before {
  content: "\e790";
}

.iconnanke:before {
  content: "\e791";
}

.iconkouqiangke:before {
  content: "\e792";
}

.iconbinglike:before {
  content: "\e793";
}

.iconyingxiangke:before {
  content: "\e794";
}

.iconchuanranke1:before {
  content: "\e795";
}

.iconkangfuke:before {
  content: "\e796";
}

.iconqitake:before {
  content: "\e797";
}

.iconrenzheng:before {
  content: "\e79f";
}

.iconkuaidi:before {
  content: "\e7a0";
}

.iconchuandai-copy:before {
  content: "\e7a1";
}

.icontianweiji:before {
  content: "\e7a8";
}

.icondusu:before {
  content: "\e7a9";
}

.iconpaixie:before {
  content: "\e7aa";
}

.iconjiance:before {
  content: "\e7ab";
}

.iconweishengwu:before {
  content: "\e7ac";
}

.iconnongyao:before {
  content: "\e7ad";
}

.iconsizhi:before {
  content: "\e7ae";
}

.iconxiongbu:before {
  content: "\e7af";
}

.iconshengzhi:before {
  content: "\e7b0";
}

.iconxibao:before {
  content: "\e7b1";
}

.icontianjiaji:before {
  content: "\e7b2";
}

.iconhuxike:before {
  content: "\e7b3";
}

.icontoubu:before {
  content: "\e7b4";
}

.iconfangfuji:before {
  content: "\e7b5";
}

.iconshenjingke:before {
  content: "\e7b6";
}

.iconbingjun:before {
  content: "\e7b7";
}

.iconxinzeng:before {
  content: "\e7b8";
}

.iconchengfen:before {
  content: "\e7b9";
}

.iconfanghu:before {
  content: "\e7ba";
}

.iconyangguang:before {
  content: "\e7bb";
}

.iconshuiguo:before {
  content: "\e7bc";
}

.iconyanwo:before {
  content: "\e7bd";
}

.iconfengmi:before {
  content: "\e7be";
}

.icondiqiu:before {
  content: "\e7bf";
}

.iconzhongjinshu:before {
  content: "\e7c0";
}

.iconchanke:before {
  content: "\e7c1";
}
