/*
 * 基础色
 */

 $blue-primary: #2A7BE4;
 $blue-light: #91c6ff;
 $blue-card: #6AB1FF;
 $blue-input: #ECF5FF;
 $blue-light__background: #e3effd;
 $blue-focus__light: #a7c0e1;
 $blue-focus__primary: rgba(33, 135, 234, 0.85);
 //  $white-background: #e4e9f2;
 $white-background:rgb(245, 247, 249);
 $gray-primary: #8795a9;
 $gray-light: #f5f7fb;
 $gray-middle: #f8f8f8;
 $border-color__primary: rgba(0, 0, 0, .09);
 $border-color__light: #cecece;
 $pink-primary: #f2818e;
 $pink-background: #fffafa;
 $green-primary: #58cb7d;
 $green-light: #97D67A;
 $green-background: #f2fbf5;
 $red-primary: #ff5656;
 $red-dark: #D0021B;
 $brown-primary: #E7BC7A;
 $yellow-primary: #ff9c00;
 $hover-border: rgba(132, 166, 181, 0.4);
 $hover-shadow: rgba(63, 81, 181, 0.3);
 $arrow-bg: #d4d4d4;