<template>
  <div class="page-container">
    <el-row :gutter="24" class="nomargin light-border no-bottom-border">
        <!-- 标题栏 -->
        <div ref="titleDiv" class="list-title__container">
          <span>医生设置</span>
        </div>
    </el-row>
    <el-row :gutter="24" type="flex" justify="start" align="top" class="content-container no-left-margin">
      <!-- ---------------------左侧容器↓--------------------- -->
      <el-col :span="10" class="nopadding">
        <!-- 标题栏 -->
        <div ref="leftTitleDiv" class="list-title__container light-border no-bottom-border no-top-border">
          <span>未选择医生列表</span>
        </div>
        <!--搜索栏-->
        <div ref="searchDiv" class="list-select__container light-border no-bottom-border">
          <el-row :gutter="24" type="flex" justify="start" align="top">
            <el-col :span="12" :xs="12" :sm="12" :md="12" :lg="11">
              <el-input v-model="unselectedFilters.realName" size="small" clearable placeholder="医生姓名"></el-input>
            </el-col>
            <el-col :span="12" :xs="12" :sm="12" :md="12" :lg="12" class="nopadding">
              <hm-button icon="fa fa-search" label="查询" type="primary" perms="sys:userRelation:query" @click="findUnselectedList(null)"/>
            </el-col>
          </el-row>
        </div>
        <!--表格内容栏-->
        <el-table class="light-border" ref="unselectedtable" :height="tableHeight" :data="unselectedList" stripe size="mini"
          rowKey="id" v-loading="loading" element-loading-text="拼命加载中" highlight-current-row
                  @selection-change="selectionChange" @row-dblclick="dbSelected" @row-click="handleClickTableRow">
          <el-table-column type="selection" width="48" @selection-change="handleSelectionChange"></el-table-column>
          <el-table-column prop="realName" header-align="center" align="center" minWidth="80" label="医生姓名">
          </el-table-column>
          <el-table-column prop="deptName" header-align="center" align="center" minWidth="80" label="科室">
          </el-table-column>
          <el-table-column
            prop="titleName" header-align="center" align="center" minWidth="90" label="头衔">
          </el-table-column>
         <el-table-column
            prop="telephone" header-align="center" align="center" minWidth="90" label="手机">
          </el-table-column>
        </el-table>
      </el-col>
      <!-- ---------------------左侧容器↑--------------------- -->
      <el-col :span="4" class="list-column__container nopadding">
        <div class="list-middle__container">
          <div class="">
            <hm-button icon="fa fa-add" label="添加>>" type="primary" perms="sys:userRelation:add" @click="addRelation"/>
            <hm-button icon="fa fa-delete" label="<<删除" type="primary" perms="sys:userRelation:delete" @click="deleteRelation"/>
          </div>
        </div>
      </el-col>
      <!-- ---------------------右侧容器↓--------------------- -->
      <el-col :span="10" class="list-column__container">
        <!-- 标题栏 -->
        <div ref="rightTitleDiv" class="list-title__container light-border no-bottom-border no-top-border">
          <span>已选择医生列表</span>
        </div>
        <!-- 搜索栏 -->
        <div class="list-select__container light-border no-bottom-border">
          <el-row :gutter="24" type="flex" justify="start" align="top">
            <el-col :span="12" :xs="12" :sm="12" :md="12" :lg="11">
              <el-input v-model="selectedFilters.realName" size="small" clearable placeholder="医生姓名"></el-input>
            </el-col>
            <el-col :span="12" :xs="12" :sm="12" :md="12" :lg="12" class="nopadding">
              <hm-button icon="fa fa-search" label="查询" type="primary" perms="sys:userRelation:query" @click="findSelectedList(null)"/>
            </el-col>
          </el-row>
        </div>
        <!--表格内容栏-->
        <el-table ref="selectedTable" :height="tableHeight" :data="selectedList" stripe size="mini"
                  rowKey="id" v-loading="selectedLoading" element-loading-text="拼命加载中" class="light-border"
                  highlight-current-row @selection-change="rightSelectionChange" @row-dblclick="rightDbSelected"
                  @row-click="handleClickRightTableRow">
          <el-table-column type="selection" width="48"></el-table-column>
          <el-table-column prop="realName" header-align="center" align="center" minWidth="80" label="医生姓名">
          </el-table-column>
          <el-table-column prop="deptName" header-align="center" align="center" minWidth="80" label="科室">
          </el-table-column>
          <el-table-column
            prop="titleName" header-align="center" align="center" minWidth="90" label="头衔">
          </el-table-column>
          <el-table-column
            prop="telephone" header-align="center" align="center" minWidth="90" label="手机">
          </el-table-column>
        </el-table>
      </el-col>
      <!-- ---------------------右侧容器↑--------------------- -->
    </el-row>
  </div>
</template>

<script>
import HmTable from '@/views/Core/HmTable'
import HmButton from '@/views/Core/HmButton'
import TableTreeColumn from '@/views/Core/TableTreeColumn'
import { mapState, mapGetters } from 'vuex'
export default {
  components: {
    HmTable,
    HmButton,
    TableTreeColumn
  },
  data () {
    return {
      tableHeight: null,
      size: 'small',
      unselectedFilters: {
        realName: ''
      },
      selectedFilters: {
        realName: ''
      },
      loading: false,
      // 未选择医生表信息
      unselectedList: [],
      // 已选择医生表信息
      selectedList: [],
      selectedLoading: false,
      // 左侧列表选中列
      selections: [],
      rightSelections: []
    }
  },
  computed: {
    ...mapState('dict', [
      'dicProps'
    ]),
    ...mapGetters('dict', {
      getDic: 'getDic'
    }),
    getDataTable () {
      return this.getDic('dataTable')
    }
  },
  methods: {
    findPage () {
      this.findUnselectedList()
      this.findSelectedList()
    },
    initParam () {
      if (this.getDataTable.length > 0) {
        this.filters.tableName = this.getDataTable[0].itemValue
        this.findPage()
      }
    },
    fetchDics () {
      /**
       * 请求字典数据
       */
      if (!this.getDictByType) {
        // 获取字典
        this.dicProps.form.forEach(prop => {
          this.$store.dispatch('dict/getDictByType', prop)
        })
      }
      this.$api.dict.findDictClasses(this.filters).then((res) => {
        if (res.status === 1) {
          this.classOption = res.data
          this.initParam()
        } else {
          this.$message({ message: '查询字典分类失败,' + res.msg, type: 'error' })
        }
      })
    },
    // ------------------------------左侧列表begin-------------------------------------
    // 获取未选择医生列表
    findUnselectedList: function () {
      this.loading = true
      this.$api.userRelation.findUnselectedList(this.unselectedFilters).then((res) => {
        if (res.status === 1) {
          this.unselectedList = res.data
        } else {
          this.$message({ message: '查询失败,' + res.msg, type: 'error' })
        }
        this.loading = false
      })
    },
    // 选择切换
    selectionChange: function (selections) {
      this.selections = selections
    },
    // 双击
    dbSelected: function (row) {
      this.selections = []
      this.selections.push(row)
      this.addRelation()
    },
    // 单击选择
    handleClickTableRow: function (row, event, column) {
      this.$refs.unselectedtable.toggleRowSelection(row)
    },
    // 单选框
    handleSelectionChange (rows) {
      console.log(rows)
    },
    addRelation: function () {
      this.$api.userRelation.batchAdd(this.selections).then(res => {
        this.findPage()
        if (res.status === 1) {
          this.$message({ message: '添加成功', type: 'success' })
        } else {
          this.$message({ message: '添加失败,' + res.msg, type: 'error' })
        }
      })
    },
    deleteRelation: function () {
      let params = this.rightSelections.map(obj => {
        return obj.slaveId
      })
      this.$api.userRelation.batchDelete(params).then(res => {
        this.findPage()
        if (res.status === 1) {
          this.$message({ message: '删除成功', type: 'success' })
        } else {
          this.$message({ message: '删除失败,' + res.msg, type: 'error' })
        }
      })
    },
    // 获取已选择医生列表
    findSelectedList: function () {
      this.loading = true
      this.$api.userRelation.findSelectedList(this.selectedFilters).then((res) => {
        if (res.status === 1) {
          this.selectedList = res.data
        } else {
          this.$message({ message: '查询失败,' + res.msg, type: 'error' })
        }
        this.loading = false
      })
    },
    // 选择切换
    rightSelectionChange: function (selections) {
      this.rightSelections = selections
    },
    // 双击选择
    rightDbSelected: function (row) {
      this.rightSelections = []
      this.rightSelections.push(row)
      this.deleteRelation()
    },
    // 单击选择
    handleClickRightTableRow: function (row, event, column) {
      this.$refs.selectedTable.toggleRowSelection(row)
    }
  },
  mounted () {
    this.fetchDics()
    this.findPage()
    let headerBarHeight = this.$global.headerHeight
    let tabHeight = this.$global.tabHeight
    let spaceHeight = this.$global.spaceHeight
    let searchHeight = this.$refs.searchDiv.offsetHeight
    let titleHeight = this.$refs.titleDiv.offsetHeight
    let pagingBarHeight = 0 // this.$global.pagingBarHeight
    // window.innerHeight:浏览器的可用高度
    this.tableHeight = window.innerHeight - headerBarHeight - tabHeight - spaceHeight - searchHeight - titleHeight - pagingBarHeight
    // 赋值vue的this
    const that = this
    // window.onresize中的this指向的是window，不是指向vue
    window.onresize = () => {
      return (() => {
        that.tableHeight = window.innerHeight - headerBarHeight - tabHeight - spaceHeight - searchHeight - titleHeight - pagingBarHeight
      })()
    }
  },
  watch: {
    tableHeight (val) {
      this.tableHeight = val
    }
  }
}
</script>
<style scoped lang="scss">
  @import '../../style/theme/_colors';
  .menu-container {
    margin-top: 10px;
  }
  /deep/.scrollbar-wrap{
    height: 100%;
  }
  .el-col+.el-col {
    padding-left:0 !important;
  }
  .right {
    float: right;
  }
  .list-middle__container {
    height: 100%;
    background-color: white;
    /*flex 布局*/
    display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    justify-content: center;
    text-align: justify;
    .el-button+.el-button {
      margin-top: 15px;
    }
    .el-button {
      display: block !important;
    }
  }
  .light-border {
    border: solid $border-color__light 1px;
  }
  .no-bottom-border {
    border-bottom: none;
  }
  .no-top-border {
    border-top: none;
  }
</style>
