<template>
  <div ref="pageContainer" class="page-container">
    <el-form :model="dataForm" class="dialog_form" label-width="90px" ref="dataForm" :size="size"
             label-position="right">
      <el-row>
        <el-col :span="8">
          <el-form-item label="用户账号：">
            <el-input v-model="dataForm.account" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="用户姓名：">
            <el-input v-model="dataForm.realName" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="手机号码：">
            <el-input v-model="dataForm.telephone" disabled></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="用户科室：">
            <el-input v-model="dataForm.deptName" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="用户头衔：">
            <el-input v-model="dataForm.titleName" disabled></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="用户角色：">
            <template>
              <el-tag class="role-tag" v-for="(role) in dataForm.roles" :key="role.id" size="small"
                      :type="role.name.indexOf('管理员')>-1?'primary':'info'">{{role.name}} </el-tag>
            </template>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <el-row :gutter="24" type="flex" justify="start" align="top" class="content-container">
      <el-col :span="24">
        <!--表格内容栏-->
        <el-table border ref="userTable" :height="tableHeight" :data="pageResult.records" stripe size="mini"
                  rowKey="id" v-loading="loading" element-loading-text="拼命加载中">
          <el-table-column type="index" width="50" label="序号"></el-table-column>
          <el-table-column
            prop="account" header-align="center" align="center" minWidth="90" label="操作日期">
          </el-table-column>
          <el-table-column
            prop="actionName" header-align="center" align="center" minWidth="120" label="操作内容">
          </el-table-column>
        </el-table>
        <!--分页栏-->
        <div class="toolbar clearfix">
          <el-pagination layout="total, prev, pager, next, jumper"
                         @current-change="refreshPageRequest"
                         @size-change="handleSizeChange"
                         :current-page="pageRequest.pageNum"
                         :page-size="pageRequest.pageSize" :total="pageResult.total" style="float:right;">
          </el-pagination>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'UserDetail',
  components: {
  },
  props: {
    userInfo: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      tableHeight: null,
      loading: false,
      size: 'small',
      filters: {
        name: ''
      },
      columns: [],
      filterColumns: [],
      pageRequest: { pageNum: 1, pageSize: 5 },
      // 分页数据
      pageResult: {}
    }
  },
  computed: {
    dataForm: {
      get () {
        return this.userInfo
      }
    }
  },
  methods: {
    // 查询用户 重置页码为第一页
    findFirstPage: function () {
      // 重置页码为1
      this.pageRequest.pageNum = 1
      // 查询用户列表
      this.findPage(null)
    },
    // 获取分页数据
    findPage: function (data) {
      this.filters.name = this.dataForm.account
      this.loading = true
      if (data !== null) {
        this.pageRequest = data.pageRequest
      }
      // filters复制到pageRequest
      Object.assign(this.pageRequest, this.filters)
      this.$api.log.findPage(this.pageRequest).then((res) => {
        if (res.status === 1) {
          this.pageResult = res.data
        } else {
          this.$message({ message: '查询失败,' + res.msg, type: 'error' })
        }
        this.loading = false
      })
    },
    // 换页刷新
    refreshPageRequest: function (pageNum) {
      this.pageRequest.pageNum = pageNum
      this.findPage(null)
    },
    handleSizeChange (val) {
      this.pageRequest.pageSize = val
      this.findPage(null)
    }
  },
  mounted () {
    this.findPage(null)
  },
  watch: {
  }
}
</script>

<style scoped lang="scss">
  @import "@/assets/css/detail.scss";
  @import "~theme";
  /deep/ .el-input.is-disabled .el-input__inner {
    background-color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
    color: rgba(0,0,0,0.65);
    cursor: auto;
    padding: 0 0;
  }
  /deep/ .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
    margin-bottom: 10px;
  }
  .role-tag+.role-tag{
    margin: 2px 0 2px 2px;
  }
</style>
