<template>
  <div ref="pageContainer" class="page-container">
    <el-row :gutter="24" type="flex" justify="start" align="top" class="content-container">
      <el-col :span="24">
        <!-- 标题栏 -->
        <div ref="titleDiv" class="list-title__container">
          <span>用户列表</span>
        </div>
        <!-- 搜索栏 -->
        <div ref="searchDiv" class="list-select__container">
          <el-row :gutter="24" type="flex" justify="start" align="top">
            <el-col :span="6" :xs="6" :sm="6" :md="6" :lg="5">
              姓名：<el-input v-model="filters.realName" size="small" clearable></el-input>
            </el-col>
            <el-col :span="6" :xs="6" :sm="6" :md="6" :lg="5">
              手机：<el-input v-model="filters.telephone" size="small" clearable></el-input>
            </el-col>
            <el-col :span="6" :xs="6" :sm="6" :md="6" :lg="5">
              账号：<el-input v-model="filters.account" size="small" clearable></el-input>
            </el-col>
            <el-col :span="6" :xs="6" :sm="6" :md="6" :lg="6" class="nopadding">
              <hm-button icon="fa fa-search" label="查询" perms="system:user:list" type="primary" @click="findFirstPage(null)"/>
              <hm-button icon="fa fa-plus" label="新增" perms="system:user:add" type="primary" @click="handleAdd" />
            </el-col>
          </el-row>
        </div>
        <!--表格内容栏-->
        <el-table ref="userTable" :height="tableHeight" :data="pageResult.records" stripe size="mini"
          rowKey="id" v-loading="loading" element-loading-text="拼命加载中">
          <el-table-column type="index" width="50" label="序号"></el-table-column>
          <el-table-column
            prop="account" header-align="center" align="center" minWidth="90" label="登录账号">
          </el-table-column>
          <el-table-column
            prop="realName" header-align="center" align="center" minWidth="120" label="姓名">
          </el-table-column>
          <el-table-column
            prop="telephone" header-align="center" align="center" minWidth="90" label="手机">
          </el-table-column>
          <el-table-column
            prop="deptName" header-align="center" align="center" minWidth="90" label="科室">
          </el-table-column>
          <el-table-column
            prop="titleName" header-align="center" align="center" minWidth="90" label="头衔">
          </el-table-column>
          <el-table-column
            prop="roleNames" header-align="center" align="center" minWidth="150" label="角色">
            <template slot-scope="scope">
              <el-tag class="role-tag" v-for="(role) in scope.row.roles" :key="role.id" size="small"
                :type="role.name.indexOf('管理员')>-1?'primary':'info'">{{role.name}} </el-tag>
            </template>
          </el-table-column>
          <el-table-column
            prop="status" header-align="center" align="center" width="90" label="状态">
            <template slot-scope="scope">
              <el-tag v-if="scope.row.status === 1" size="small" type="success">正常</el-tag>
              <el-tag v-else-if="scope.row.status === 0" size="small" type="warning">锁定</el-tag>
            </template>
          </el-table-column>
          <el-table-column
            fixed="right" header-align="center" align="center" width="350" label="操作">
            <template slot-scope="scope">
              <hm-button icon="fa fa-edit" label="查看" perms="system:user:list" type="primary" size="mini" @click="handleDetail(scope.row)"/>
              <hm-button icon="fa fa-lock" :label="scope.row.status === 1 ? '锁定':'解锁'" perms="system:user:update"
                :type="scope.row.status === 1 ? 'warning':'success'" size="mini" @click="handleLock(scope.row)"/>
              <hm-button icon="fa fa-edit" label="初始化密码" perms="system:user:resetPassword" type="primary" size="mini" @click="handleResetPassword(scope.row)"/>
              <hm-button icon="fa fa-edit" label="编辑" perms="system:user:update" type="primary" size="mini" @click="handleEdit(scope.row)"/>
              <hm-button icon="fa fa-trash" label="删除" perms="system:user:remove" type="danger" size="mini" @click="handleDelete(scope.row)"/>
<!--              <el-dropdown trigger="click">-->
<!--                <span class="el-dropdown-link">-->
<!--                  <hm-button icon="fa fa-down" label="更多操作" type="primary" size="mini"/>-->
<!--                </span>-->
<!--                <el-dropdown-menu slot="dropdown">-->
<!--                  <el-dropdown-item class="clearfix">-->
<!--                    <hm-button icon="fa fa-edit" label="编辑" perms="system:user:update" type="primary" size="mini" @click="handleEdit(scope.row)"/>-->
<!--                  </el-dropdown-item>-->
<!--                  <el-dropdown-item class="clearfix">-->
<!--                    <hm-button icon="fa fa-trash" label="删除" perms="system:user:remove" type="danger" size="mini" @click="handleDelete(scope.row)"/>-->
<!--                  </el-dropdown-item>-->
<!--                </el-dropdown-menu>-->
<!--              </el-dropdown>-->
            </template>
          </el-table-column>
        </el-table>
        <!--分页栏-->
        <div class="toolbar clearfix">
          <el-pagination layout="total, sizes, prev, pager, next, jumper"
            @current-change="refreshPageRequest"
            @size-change="handleSizeChange"
            :current-page="pageRequest.pageNum"
            :page-sizes="[20, 50, 100]"
            :page-size="pageRequest.pageSize" :total="pageResult.total" style="float:right;">
          </el-pagination>
        </div>
      </el-col>
    </el-row>
    <!-- ------------------------------新增修改界面 begin-------------------------------- -->
    <el-dialog :title="operation?'新增':'编辑'" width="40%" :visible.sync="dialogVisible" :close-on-click-modal="false">
      <!-- 左侧容器 -->
      <el-col :span="18" style="padding-right:5px; border-right: 1px solid #cecece;">
        <el-form :model="dataForm" class="dialog_form" label-width="80px" :rules="dataFormRules" ref="dataForm" :size="size"
          label-position="right">
          <input type="password" class="hide" id="loginPassword"/>
          <input type="text" class="hide" id="loginUserName"/>
          <el-form-item label="ID" prop="id" v-if="false">
            <el-input v-model="dataForm.id" :disabled="true" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="用户姓名" prop="realName">
            <el-input v-model="dataForm.realName" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="手机号码" prop="telephone">
            <el-input v-model="dataForm.telephone" auto-complete="off"></el-input>
          </el-form-item>
          <el-form-item label="用户科室" prop="deptId">
            <el-select v-model="dataForm.deptId" placeholder="请选择"
                    style="width: 100%;">
                  <el-option v-for="(dict,index) in this.getDeptInfo" :key="index"
                    :label="dict.itemName" :value="dict.itemValue">
                  </el-option>
                </el-select>
          </el-form-item>
          <el-form-item label="用户头衔" prop="titleId">
            <el-select v-model="dataForm.titleId" placeholder="请选择"
                    style="width: 100%;">
                  <el-option v-for="(dict,index) in this.getTitleInfo" :key="index"
                    :label="dict.itemName" :value="dict.itemValue">
                  </el-option>
                </el-select>
          </el-form-item>
          <el-form-item label="角色" prop="userRoles">
            <!-- <el-select v-model="dataForm.roles" multiple placeholder="请选择"
                style="width: 100%;">
              <el-option v-for="item in roles" :key="item.id"
                :label="item.name" :value="item.id">
              </el-option>
            </el-select> -->
            <el-checkbox-group v-model="dataForm.roles" @change="handleRoleChange">
              <el-checkbox v-for="item in roles" :key="item.id" :label="item.id">{{item.name}}</el-checkbox>
            </el-checkbox-group>
          </el-form-item>
        </el-form>
      </el-col>
      <!-- 右侧容器 -->
      <el-col :span="6" class="list-column__container">
        <!-- 树 -->
        <el-scrollbar class="list-tree__container">
          <el-tree :data="roleResList" size="mini" node-key="id" :props="defaultProps"
            ref="menuTree" element-loading-text="拼命加载中" :check-strictly="true" default-expand-all>
          </el-tree>
        </el-scrollbar>
      </el-col>
      <div slot="footer" class="dialog-footer">
        <el-button :size="size" @click.native="dialogVisible = false">取消</el-button>
        <el-button :size="size" type="primary" @click.native="submitForm" :loading="editLoading">提交</el-button>
      </div>
    </el-dialog>
    <!-- ------------------------------新增修改界面 end-------------------------------- -->
    <el-dialog title="用户账号查看" width="40%" v-if="detailVisible" :visible.sync="detailVisible" :close-on-click-modal="false">
      <user-detail :userInfo="userInfo"></user-detail>
    </el-dialog>
  </div>
</template>

<script>
import HmTable from '@/views/Core/HmTable'
import HmButton from '@/views/Core/HmButton'
import TableColumnFilterDialog from '@/views/Core/TableColumnFilterDialog'
import { format } from '@/utils/datetime'
import { mapState, mapGetters } from 'vuex'
import UserDetail from '@/views/System/UserDetail'

export default {
  components: {
    HmTable,
    HmButton,
    TableColumnFilterDialog,
    UserDetail
  },
  data () {
    return {
      // -----------------列表 begin------------------
      tableHeight: null,
      loading: false,
      size: 'small',
      filters: {
        realName: '',
        telephone: '',
        account: ''
      },
      columns: [],
      filterColumns: [],
      pageRequest: { pageNum: 1, pageSize: 20 },
      // 分页数据
      pageResult: {},
      // -----------------列表 end--------------------------
      // -----------------新增编辑 begin------------------
      operation: false, // true:新增, false:编辑
      dialogVisible: false, // 新增编辑组件是否显示
      detailVisible: false, // 用户查看组件是否显示
      userInfo: {}, // 所选的用户信息
      editLoading: false,
      dataFormRules: {
        realName: [
          { required: true, message: '请输入用户姓名', trigger: 'blur' }
        ],
        telephone: [
          { required: true, message: '请输入手机号码', trigger: 'blur' }
        ]
      },
      // 新增编辑界面数据
      dataForm: {
        id: 0,
        name: '',
        email: '',
        mobile: '',
        status: 1,
        userRoles: [],
        resources: []
      },
      defaultProps: {
        children: 'children',
        label: 'name'
      },
      roles: [],
      // 角色权限集合
      roleResList: [],
      type: 1 // 1 新增 2 修改
      // -----------------新增编辑 end------------------
    }
  },
  computed: {
    ...mapState('dict', [
      'dicProps'
    ]),
    ...mapGetters('dict', {
      getDic: 'getDic'
    }),
    getDeptInfo () {
      return this.getDic('deptDict')
    },
    getTitleInfo () {
      return this.getDic('titleDict')
    }
  },
  methods: {
    fetchDics () {
      /**
       * 请求字典数据
       */
      if (!this.getDictByType) {
        // 获取字典
        this.dicProps.user.forEach(prop => {
          this.$store.dispatch('dict/getDictByType', prop)
        })
      }
    },
    // 查询用户 重置页码为第一页
    findFirstPage: function () {
      // 重置页码为1
      this.pageRequest.pageNum = 1
      // 查询用户列表
      this.findPage(null)
    },
    // 获取分页数据
    findPage: function (data) {
      this.loading = true
      if (data !== null) {
        this.pageRequest = data.pageRequest
      }
      // filters复制到pageRequest
      Object.assign(this.pageRequest, this.filters)
      this.$api.user.findPage(this.pageRequest).then((res) => {
        // this.findAllRoles()
        if (res.status === 1) {
          this.pageResult = res.data
        } else {
          this.$message({ message: '查询失败,' + res.msg, type: 'error' })
        }
        this.loading = false
      })
    },
    // 是否显示下级机构用户
    handleCheckChange: function () {
      // 查询用户列表
      this.findFirstPage(null)
    },
    // 加载所有角色（角色选择）
    findAllRoles: function () {
      this.$api.role.findAll().then((res) => {
        // 加载角色集合
        this.roles = res.data
      })
    },
    // 删除
    handleDelete: function (data) {
      this.$confirm('确认删除该用户吗？', '提示', {
        type: 'warning'
      }).then(() => {
        this.$api.user.remove({ id: data.id }).then((res) => {
          this.callBack(res, '删除成功')
        })
      }).catch(() => {})
    },
    callBack: function (res, successMsg) {
      if (res.status > 0) {
        this.findPage(null)
        if (successMsg) {
          this.$message({ message: successMsg, type: 'success' })
        }
      } else {
        this.$message({message: res.msg, type: 'error'})
      }
    },
    // 换页刷新
    refreshPageRequest: function (pageNum) {
      this.pageRequest.pageNum = pageNum
      this.findPage(null)
    },
    handleSizeChange (val) {
      this.pageRequest.pageSize = val
      this.findPage(null)
    },
    handleDetail: function (row) {
      this.userInfo = row
      this.detailVisible = true
    },
    // 显示新增界面
    handleAdd: function () {
      this.type = 1
      this.dialogVisible = true
      this.operation = true
      this.dataForm = {
        id: 0,
        name: '',
        password: '',
        email: '',
        mobile: '',
        status: 1,
        roles: []
      }
      this.roleResList = []
    },
    // 显示编辑界面
    handleEdit: function (row) {
      this.type = 2
      this.dialogVisible = true
      this.operation = false
      this.dataForm = Object.assign({}, row)
      let userRoles = []
      for (let i = 0, len = row.roles.length; i < len; i++) {
        userRoles.push(row.roles[i].id)
      }
      this.dataForm.roles = userRoles
      this.roleResList = row.resources
    },
    // 锁定/恢复账户
    handleLock: function (row) {
      if (row.status === 1) {
        this.$confirm('锁定后该用户将无法登陆，是否确定锁定？', '提示', {
          type: 'warning'
        }).then(() => {
          // 锁定
          this.$api.user.lock({'id': row.id}).then(res => {
            this.callBack(res, '锁定成功！')
          })
        })
      } else if (row.status === 0) {
        // 恢复
        this.$api.user.unlock({'id': row.id}).then(res => {
          this.callBack(res, '恢复成功！')
        })
      }
    },
    handleResetPassword: function (row) {
      this.$confirm('是否确定初始化密码？', '提示', {
        type: 'warning'
      }).then(() => {
        // 锁定
        this.$api.user.initPassword({'id': row.id}).then(res => {
          this.callBack(res, '初始化用户【' + row.realName + '】的密码成功！')
        })
      })
    },
    // 编辑
    submitForm: function () {
      this.$refs.dataForm.validate((valid) => {
        if (valid) {
          this.$confirm('确认提交吗？', '提示', {}).then(() => {
            this.editLoading = true
            let params = Object.assign({}, this.dataForm)
            let userRoles = []
            if (params.roles !== null) {
              for (let i = 0, len = params.roles.length; i < len; i++) {
                let userRole = {
                  id: params.roles[i]
                }
                userRoles.push(userRole)
              }
            }
            params.roles = userRoles
            if (this.type === 1) {
              this.$api.user.add(params).then((res) => {
                this.editLoading = false
                if (res.status === 1) {
                  this.$message({ message: '操作成功', type: 'success' })
                  this.dialogVisible = false
                  this.$refs['dataForm'].resetFields()
                } else {
                  this.$message({message: '操作失败, ' + res.msg, type: 'error'})
                }
                this.findPage(null)
              })
            } else {
              this.$api.user.update(params).then(res => {
                this.editLoading = false
                if (res.status === 1) {
                  this.$message({ message: '操作成功', type: 'success' })
                  this.$refs['dataForm'].resetFields()
                  this.dialogVisible = false
                } else {
                  this.$message({
                    message: '操作失败, ' + res.msg,
                    type: 'error'
                  })
                }
                this.findPage(null)
              })
            }
          })
        }
      })
    },
    // 时间格式化
    dateFormat: function (row, column, cellValue, index) {
      return format(row[column.property])
    },
    // 角色格式化
    roleFormat: function (row, column, cellValue, index) {
      let roles = []
      if (row.roles != null && row.roles.length > 0) {
        row.roles.forEach(element => {
          roles.push(element.name + '；')
        })
      }
      return roles
    },
    // 状态格式化
    statusFormat: function (row, column, cellValue, index) {
      return row.status === 1 ? '正常' : '锁定中'
    },
    // 处理表格列过滤显示
    initColumns: function () {
      this.columns = [
        // {prop: 'id', label: 'ID', minWidth: 50},
        {prop: 'realName', label: '用户姓名', minWidth: 120, required: true},
        {prop: 'telephone', label: '手机号码', minWidth: 100, required: true},
        {prop: 'roleNames', label: '角色', minWidth: 100, formatter: this.roleFormat},
        {prop: 'status', label: '状态', minWidth: 70, formatter: this.statusFormat}
      ]
      this.filterColumns = this.columns // JSON.parse(JSON.stringify(this.columns))
    },
    // 角色改变事件
    handleRoleChange: function (valueArr) {
      let roleIds = valueArr
      this.$api.menu.findResTreeByRoles(roleIds).then((res) => {
        if (res.status === 1) {
          this.roleResList = res.data
        } else {
          this.$message({message: '获取角色权限失败, ' + res.msg, type: 'error'})
        }
      })
    }
  },
  mounted () {
    this.fetchDics()
    this.findPage(null)
    // 查询角色
    this.findAllRoles()
    let headerBarHeight = this.$global.headerHeight
    let tabHeight = this.$global.tabHeight
    let spaceHeight = this.$global.spaceHeight
    let searchHeight = this.$refs.searchDiv.offsetHeight
    let titleHeight = this.$refs.titleDiv.offsetHeight
    let pagingBarHeight = this.$global.pagingBarHeight
    // window.innerHeight:浏览器的可用高度
    this.tableHeight = window.innerHeight - headerBarHeight - tabHeight - spaceHeight - searchHeight - titleHeight - pagingBarHeight
    // 赋值vue的this
    const that = this
    // window.onresize中的this指向的是window，不是指向vue
    window.onresize = () => {
      return (() => {
        that.tableHeight = window.innerHeight - headerBarHeight - tabHeight - spaceHeight - searchHeight - titleHeight - pagingBarHeight
      })()
    }
    this.initColumns()
  },
  watch: {
    tableHeight (val) {
      this.tableHeight = val
    }
  }
}
</script>

<style scoped lang="scss">
.hide{
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  position: absolute
}
.role-tag+.role-tag{
  margin: 2px 0 2px 2px;
}
.el-col+.el-col {
  padding-left:0 !important;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
/* End hide from IE-mac */
.list-select__container .el-input{
  width: 80%;
}
.dialog_form{
  padding-top: 10px;
}
.list-tree__container {
  padding-top: 10px;
}
.list-column__container{
  height: 270px;
}
</style>
