@import "~theme";
$split-line-color: #D8DCE3;
.el-dialog__body {
  padding: 15px 20px;
  // max-height: calc(100vh - 120px * 2);
  overflow: auto;
  border-top: 1px solid $split-line-color;
  border-bottom: 1px solid $split-line-color;
}

// 修改el-button的尺寸，medium-中等、small-小型、mini-超小
// 超小按钮的样式
.el-button--mini, .el-button--mini.is-round {
  padding: 5px 7px;
}

// 无内边距
.nopadding {
  padding: 0 !important;
}
.no-right-padding {
  padding-right: 0 !important;
}
.no-left-padding {
  padding-left: 0 !important;
}
.nomargin {
  margin: 0 !important;
}
.no-left-margin {
  margin-left: 0 !important;
}
// 页面容器样式
.page-container{
  width: 100%;
  height: 100%;
  // 左侧容器
  .list-left__container{
    background-color: white;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left:12px !important;
    margin-right:5px !important;
  }
  // 右侧容器
  .list-right__container{
    background-color: white;
    padding-right:0px !important;
    margin-right:12px !important;
  }
  // 修改el-button兄弟button的外边距
  .el-button+.el-button {
    margin-left: 0px;
  }
  .list-column__container {
    height: 100%;
    display: flex;
    flex-direction:column;
    .list-title__container {
      flex: none;
    }
    .list-select__container {
      flex: none;
    }
    .list-tree__container {
      flex: auto;
      background-color: white;
    }
  }
  .list-title__container {
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    background-color: #fff;
    padding-left: 9px;
    border-bottom: 1px solid #ccc;
    color: #666;
  }
  // 列表搜索栏容器样式
  .list-select__container{
    background-color: #fff;
    padding:$second-space__width;
    border-radius: 4px;
    .list-select-right{
      text-align: right;
    }
    .switch-wrap {
      height: 32px;
      line-height: 32px;
    }
  }
  .list-select__container + .list-select__container {
    // padding-top: 0px;
    padding: $fourth-space__width;
  }
  // 列表表格容器样式
  .list-table__container{
    height: calc(100% - 60px - #{$second-space__width}*2);
    overflow:auto
  }
  // 树容器样式
  .tree-container {
    height: 100%;
    .tree-select-wrap{
      background-color: #fff;
      padding:$second-space__width;
      border-radius: 4px;
      margin: 0px;
      .switch-wrap {
        height: 32px;
        line-height: 32px;
      }
    }
  }
  .content-container{
    height: 100%;
  }
}
.dialog-container {
  .dialog-select__container {
    padding-bottom: 20px;
  }
  // 弹出框表格样式
  .dialog-table__container{
    height: 400px;
  }
}
// element tree节点字体大小
.el-tree-node__label {
  font-size: $content-font__size;
}
.el-tree-node i {
  font-size: $content-font__size;
}
.no-scrollbar{
  &::-webkit-scrollbar {display:none}
}

