/deep/ .el-dialog__title {
  font-size: 16px;
  color: rgba(0,0,0,0.85);
}
/deep/ .el-dialog__body {
  padding: 20px 20px 0px;
  max-height: calc(100vh - 100px * 2);
  overflow: auto;
  border-top: 1px solid rgba(0,0,0,0.09);
  border-bottom: 1px solid rgba(0,0,0,0.09);
}
/deep/ .el-dialog__footer {
  text-align: right;
  button {
    width: 80px;
    height: 35px;
    line-height: 0;
    padding: 12px 10px;
  }
}
/* 建档弹框 */
.record-wrap {
  .base-info-wrap, .other-info-wrap {
    margin-bottom: 10px;
    .base-info-title, .other-info-title {
      font-size: 14px;
      color: #1890FF;
      display: flex;
      flex-direction: row;
      padding-bottom: 10px;
      justify-content: space-between;
      border-bottom: 1px solid rgba(178,200,223, .35);
      .fold {
        font-size: 12px;
        color: #1890FF;
        cursor: pointer;
        .el-icon-arrow-down.active {
          transform: rotate(180deg);
        }
        .el-icon-arrow-down {
          transition: transform .3s;
        }
      }
    }
    /deep/ .el-form-item {
      margin-bottom: 12px;
    }
    // .disability {
    //   /deep/ .el-form-item__content {
    //     /deep/ .el-checkbox+.el-checkbox {
    //       margin-left: 24px;
    //     }
    //   }
    // }
    .form-item-wrap {
      min-height: 52px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .el-form-item.needImprove {
        /deep/ .el-form-item__label {
          color: #1890FF;
        }
      }
      .el-form-item.nation {
        left: 10px;
        position: relative;
        /deep/ .el-form-item__content {
          /deep/ .el-input {
              width: 102px;
          }
          /deep/ .el-input__inner {
            height: 32px !important;
          }
        }
      }
      .el-form-item {
        /deep/ .el-form-item__error {
          padding-top: 0;
        }
        /deep/ .el-form-item__label {
          font-size: 14px;
          color: rgba(0,0,0,0.65);
        }
        /deep/ .el-form-item__content {
          display: flex;
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: flex-start;
          /deep/ .el-input {
            width: 190px;
          }
          /deep/ .el-date-editor.el-input {
            width: 190px;
            /deep/ .el-input__prefix {
              left: 146px;
            }
          }
        }
      }
    }
    .form-item-wrap.address {
      /deep/ .el-form-item__content {
        /deep/ .el-cascader--small {
          line-height: 40px;
        }
        /deep/ .el-input {
          width: 410px;
        }
        /deep/ .el-cascader__label {
          height: 32px;
        }
      }
    }
    .form-item-wrap.two-item {
      justify-content: flex-start;
      .el-form-item {
        width: 35.33%;
      }
    }
    .form-item-wrap.multiple {
      justify-content: space-between;
      .el-form-item {
        width: 48%;
        /deep/ .el-select {
          width: 100%;
          /deep/ .el-tag__close.el-icon-close {
            top: -1px;
            right: -4px;
          }
        }
        /deep/ .el-form-item__content {
          /deep/ .el-input {
            width: 100%;
          }
        }
        /deep/ .el-date-editor.el-input {
          /deep/ .el-input__prefix {
            left: 300px;
          }
        }
      }
    }
    .base-info-main {
      padding-top: 12px;
    }
    .other-info-main {
      padding-top: 12px;
      .form-table-wrap {
        margin-bottom: 12px;
        .form-table-title {
          display: flex;
          line-height: 32px;
          flex-direction: row;
          justify-content: space-between;
          >div {
            font-size: 14px;
            color: rgba(51,51,51,0.85);
          }
          button {
            width: 60px;
            height: 32px;
            line-height: 0;
            padding: 12px 10px;
          }
        }
        /deep/ .el-table {
          margin-top: 10px;
          th {
            background-color: #f2f4f5;
            >div {
              font-size: 14px;
            }
          }
          td {
            >div {
              font-size: 12px;
            }
          }
          th, td {
            padding:6px 0;
            text-align: center;
            >div {
              height: 32px;
              line-height: 32px;
              color: #333333;
            }
          }
          /deep/ .el-form-item__content {
            line-height: 32px;
          }
          /deep/ .el-date-editor.el-input {
            width: 150px;
            /deep/ .el-input__prefix {
              left: 120px;
            }
          }
        }
      }
    }
  }
  /* footer部分 */
  .dialog-footer {
    padding: 20px 0 20px;
    text-align: right;
    border-top: 1px solid #D8DCE3;
    .el-button {
      width: 85px;
      height: 35px;
      line-height: 35px;
      margin-left: 10px;
      text-align: center;
      padding: 0;
    }
  }
}