<!--
 * @Author: tangwei
 * @Date: 2021-01-19 16:54:48
-->
<template>
  <div class="line-main"
       id="box"
       ref="dom"></div>
</template>

<script>
import * as echarts from 'echarts'
import tdTheme from './theme.json'
echarts.registerTheme('tdTheme', tdTheme)
export default {
  props: {
    value: Object,
    text: String,
    subtext: String
  },
  data () {
    return {
      dom: null
    }
  },
  watch: {
    value: {
      deep: true,
      handler (val) {
        this.setOption(val)
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.initChart()
    })
  },
  beforeDestroy () {
    if (!this.dom) {
      return
    }
    this.dom.dispose()
    this.dom = null
  },
  methods: {
    resize () {
      this.dom.resize()
    },
    initChart () {
      this.dom = echarts.init(this.$refs.dom, 'tdTheme')
      this.setOption(this.value)
      this.$global.on(window, 'resize', this.resize)
    },
    setOption (chartData) {
      let xAxisData = Object.keys(this.value)
      let seriesData = Object.values(this.value)
      let option = {
        grid: {
          left: '1%',
          right: '1%',
          top: '2%',
          bottom: '1%',
          containLabel: true
        },
        title: {
          text: this.text,
          subtext: this.subtext,
          x: 'center'
        },
        tooltip: {
          trigger: 'axis',
          // trigger: 'item',
          formatter: '{c}个',
          // axisPointer: {
          //   type: 'cross'
          // },
          // position: ['30%', '90%'],
          position: 'top',
          backgroundColor: '#387DE1',
          textStyle: {
            fontSize: 18,
            color: '#fff'
          }
        },
        legend: {
          data: ['个数']
        },
        xAxis: {
          // show: false,
          type: 'category',
          data: xAxisData,
          splitLine: {
            show: false
          }
        },
        yAxis: [
          {
            // show: false,
            type: 'value',
            splitLine: {
              show: true,
              lineStyle: {
                // 设置刻度线粗度(粗的宽度)
                width: 1,
                // 颜色数组，数组数量要比刻度线数量大才能不循环使用
                color: [
                  'rgba(0, 0, 0, 0)',
                  '#eee',
                  '#eee',
                  '#eee',
                  '#eee',
                  '#eee',
                  '#eee',
                  '#eee',
                  '#eee'
                ]
              }
            }
          }
        ],
        series: [
          {
            data: seriesData,
            type: 'line',
            areaStyle: {
              normal: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                  { offset: 0, color: '#f2f5ff' },
                  { offset: 1, color: '#fff' }
                ])
              }
            },
            lineStyle: {
              normal: {
                width: 5,
                color: '#36CBCB'
              }
            }
          }
        ]
      }
      this.dom.setOption(option)
    }
  }
}
</script>

<style>
.line-main {
  width: 100%;
  height: 360px;
  padding: 28px;
  background: #fff;
}
</style>
