<!--
 * @Description:
 * @Author: tangwei
 * @Date: 2019-09-12 17:21:01
 -->
<template>
  <el-submenu v-if="menu.children && menu.children.length >= 1" :index="'' + menu.id">
    <template slot="title">
      <i :class="menu.icon" ></i>
      <span slot="title">{{menu.name}}</span>
    </template>
    <MenuTree v-for="item in menu.children" :key="item.id" :menu="item"></MenuTree>
  </el-submenu>
  <el-menu-item v-else :index="'' + menu.id" @click="handleRoute(menu)">
    <i :class="menu.icon"></i>
    <span slot="title">{{menu.name}}</span>
  </el-menu-item>
</template>

<script>
import { getIFrameUrl, getIFramePath } from '@/utils/iframe'
export default {
  name: 'MenuTree',
  props: {
    menu: {
      type: Object,
      required: true
    }
  },
  methods: {
    handleRoute (menu) {
      // 微信客服页面通过新窗口打卡（iframe无法正常展示）
      if (menu.url.indexOf('weixin') > 0) {
        window.open(menu.url, '_blank')
      } else {
        // 如果是嵌套页面，转换成iframe的path
        let path = getIFramePath(menu.url)
        if (!path) {
          path = menu.url
        }
        // 通过菜单URL跳转至指定路由
        this.$router.push('/' + path)
      }
    }
  }
}
</script>

<style scoped lang="scss">
// 阿里图标样式
.iconfont{
  margin-right: 10px;
}
</style>