<template>
  <div class="page-container">
    <el-row :gutter="24" type="flex" justify="start" align="top" class="content-container">
      <!-- ---------------------左侧容器↓--------------------- -->
      <el-col :span="10" style="padding-right:5px">
        <!-- 标题栏 -->
        <div ref="titleDiv" class="list-title__container">
          <span>表单信息列表</span>
        </div>
        <!--搜索栏-->
        <div ref="searchDiv" class="list-select__container">
          <el-row :gutter="24" type="flex" justify="start" align="top">
            <el-col :span="6" :xs="12" :sm="8" :md="8" :lg="6">
              <el-select v-model="filters.tableName" placeholder="请选择" @change="selectTable($event,scope.row)"
                  size="small" style="width: 100%;">
                <el-option v-for="(dict,index) in this.getDataTable" :key="index"
                  :label="dict.itemName" :value="dict.itemValue">
                </el-option>
              </el-select>
            </el-col>
            <el-col :span="6" :xs="6" :sm="6" :md="6" :lg="6" class="nopadding">
              <hm-button icon="fa fa-search" label="刷新" type="primary" perms="form:config:query" @click="findPage(null)"/>
            </el-col>
          </el-row>
        </div>
        <!--表格内容栏-->
        <el-table ref="formTable" :height="tableHeight" :data="tableInfoList" stripe size="mini"
          rowKey="id" v-loading="loading" element-loading-text="拼命加载中">
          <el-table-column type="index" width="45" label="序号"></el-table-column>
          <el-table-column
            prop="name" header-align="center" align="center" minWidth="100" label="字段 ">
          </el-table-column>
          <el-table-column
            prop="columnDesc" header-align="center" align="center" minWidth="200" label="名称">
          </el-table-column>
          <el-table-column
            fixed="right" header-align="center" align="center" width="150" label="操作">
            <template slot-scope="scope">
              <div v-if="scope.row.name === 'ext'">
                <el-button type="primary" size="mini">配置<i class="el-icon-d-arrow-right el-icon--right"></i></el-button>
                <!-- <hm-button icon="iconfont iconset" label="配置"
                  type="primary" size="mini" perms="form:config:update" @click="handleSet(scope.row)"/> -->
              </div>
              <div v-else>
                <hm-button v-if="scope.row.isHide === '1'" icon="iconfont iconshow" label="显示"
                  type="warning" size="mini" perms="form:config:update" @click="handleHide(scope.row,false)"/>
                <hm-button v-else icon="iconfont iconhide" label="隐藏"
                  type="success" size="mini" perms="form:config:update" @click="handleHide(scope.row,true)"/>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
      <!-- ---------------------左侧容器↑--------------------- -->
      <!-- ---------------------右侧容器↓--------------------- -->
      <el-col :span="14" class="list-column__container">
        <!-- 标题栏 -->
        <div class="list-title__container">
          <span>表单扩展</span> - <span>ext</span>
        </div>
        <!-- 搜索栏 -->
        <div class="list-select__container">
          <el-row :gutter="24" type="flex" justify="start" align="top">
            <el-col :span="18">
            </el-col>
            <el-col :span="6" class="switch-wrap nopadding">
              <hm-button class="right" icon="fa fa-add" label="新增" type="primary" perms="form:config:add" @click="handleAdd"/>
            </el-col>
          </el-row>
        </div>
        <!--表格内容栏-->
        <el-table ref="extTable" :height="tableHeight" :data="extList" stripe size="mini"
          rowKey="id" v-loading="extLoading" element-loading-text="拼命加载中">
          <el-table-column type="index" width="45" label="序号"></el-table-column>
          <el-table-column prop="field" header-align="center" align="center" minWidth="80" label="字段">
          </el-table-column>
          <el-table-column prop="title" header-align="center" align="center" minWidth="80" label="名称">
          </el-table-column>
          <el-table-column
            prop="type" header-align="center" align="center" minWidth="80" label="组件类型" :formatter="formatType">
          </el-table-column>
          <!-- <el-table-column
            prop="dictClass" header-align="center" align="center" minWidth="100" label="下拉项" :formatter="formatDictClass">
          </el-table-column> -->
          <el-table-column
            prop="isHide" header-align="center" align="center" minWidth="100" label="是否隐藏" :formatter="formatHide">
          </el-table-column>
          <el-table-column fixed="right" header-align="center" width="150" label="操作">
            <template slot-scope="scope">
              <hm-button icon="fa fa-edit" label="修改" type="warning" size="mini"
                v-if="!scope.row.edit" @click="handleEdit(scope.row,scope.$index)"/>
              <hm-button icon="fa fa-delete" label="删除" type="primary" size="mini" @click="handleDelete(scope.row)"/>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
      <!-- ---------------------右侧容器↑--------------------- -->
    </el-row>
    <!-- ------------------------------新增修改界面 begin-------------------------------- -->
    <el-dialog :title="type === 1?'新增':'编辑'" width="40%" :visible.sync="dialogVisible"
      :close-on-click-modal="false">
      <el-form :model="dataForm" label-width="80px"
        :rules="dataFormRules" ref="dataForm" :size="size" label-position="right">
        <div class="info-wrap info-show">
          <el-divider content-position="left">基础配置</el-divider>
          <el-row>
            <el-col :span="12">
              <el-form-item label="字段ID" prop="field">
                <el-input v-model="dataForm.field" size="small" auto-complete="off"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="字段名称" prop="title">
                <el-input v-model="dataForm.title" size="small" auto-complete="off"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
        <div class="info-wrap main">
          <el-divider content-position="left">属性配置</el-divider>
          <el-row>
            <el-col :span="12">
              <el-form-item label="组件类型" prop="type">
                <el-select v-model="dataForm.type" @change="selectType" size="small" :style="{width: '100%'}">
                  <el-option v-for="(item, index) in typeOption"
                              :key="index"
                              :label="item.itemName"
                              :value="item.itemValue">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="字典分类" prop="dictClass" v-if="dataForm.type === '2' ">
                <el-select v-model="dataForm.dictClass" size="small" :style="{width: '100%'}">
                  <el-option v-for="(item, index) in classOption"
                              :key="index"
                              :label="item.name"
                              :value="item.code">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="占位提示" prop="placeholder" v-if="dataForm.type === '1' ">
                <el-input v-model="dataForm.placeholder" size="small" auto-complete="off"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="是否必填" prop="required">
                <el-switch v-model="dataForm.required" active-value="1" inactive-value="0"/>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="是否隐藏" prop="isHide">
                <el-switch v-model="dataForm.isHide" active-value="1" inactive-value="0"/>
              </el-form-item>
            </el-col>
          </el-row>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button :size="size" @click.native="dialogVisible = false">取消</el-button>
        <el-button :size="size" type="primary" @click.native="submitForm" :loading="editLoading">提交</el-button>
      </div>
    </el-dialog>
    <!-- ------------------------------新增修改界面 end-------------------------------- -->
  </div>
</template>

<script>
import HmTable from '@/views/Core/HmTable'
import HmButton from '@/views/Core/HmButton'
import TableTreeColumn from '@/views/Core/TableTreeColumn'
import { mapState, mapGetters } from 'vuex'
export default {
  components: {
    HmTable,
    HmButton,
    TableTreeColumn
  },
  data () {
    return {
      loading: false,
      tableHeight: null,
      size: 'small',
      filters: {
        tableName: ''
      },
      // 数据表信息
      tableInfoList: [],
      // 扩展列信息
      extList: [],
      extLoading: false,
      typeOption: [
        {
          itemValue: '1',
          itemName: '输入框'
        },
        {
          itemValue: '2',
          itemName: '选择器'
        },
        {
          itemValue: '3',
          itemName: '日期选择器'
        }
      ],
      // 下拉项选择
      classOption: [],
      // -----------------新增编辑 begin------------------
      operation: false, // true:新增, false:编辑
      dialogVisible: false, // 新增编辑界面是否显示
      editLoading: false,
      dataFormRules: {
        field: [
          { required: true, message: '请输入字段ID', trigger: 'blur' }
        ],
        title: [
          { required: true, message: '请输入字段名称', trigger: 'blur' }
        ],
        type: [
          { required: true, message: '请输入组件类型', trigger: 'change' }
        ]
      },
      formConfig: {
        id: '',
        tableName: '',
        columnName: '',
        isHide: '0',
        isDynamic: '1'
      },
      // 新增编辑界面数据
      dataForm: {
        field: '',
        title: '',
        type: '',
        // 字典分类
        dictClass: '',
        // 占位提示
        placeholder: '',
        // 是否必填
        required: '0',
        // 是否隐藏
        isHide: '0'
      },
      type: 1 // 1 查看 2 修改
      // -----------------新增编辑 end------------------
    }
  },
  computed: {
    ...mapState('dict', [
      'dicProps'
    ]),
    ...mapGetters('dict', {
      getDic: 'getDic'
    }),
    getDataTable () {
      return this.getDic('dataTable')
    }
  },
  methods: {
    initParam () {
      if (this.getDataTable.length > 0) {
        this.filters.tableName = this.getDataTable[0].itemValue
        this.findPage()
      }
    },
    fetchDics () {
      /**
       * 请求字典数据
       */
      if (!this.getDictByType) {
        // 获取字典
        this.dicProps.form.forEach(prop => {
          this.$store.dispatch('dict/getDictByType', prop)
        })
      }
      this.$api.dict.findDictClasses(this.filters).then((res) => {
        if (res.status === 1) {
          this.classOption = res.data
          this.initParam()
        } else {
          this.$message({ message: '查询字典分类失败,' + res.msg, type: 'error' })
        }
      })
    },
    // ------------------------------左侧列表begin-------------------------------------
    // 表单下拉项选择事件
    selectTable: function () {
      this.findPage()
    },
    // 获取分页数据
    findPage: function () {
      if (this.filters.tableName) {
        this.loading = true
        this.$api.form.getFormConfigList(this.filters).then((res) => {
          if (res.status === 1) {
            this.tableInfoList = res.data
            this.tableInfoList.forEach(v => {
              if (v.name === 'ext') {
                this.extList = JSON.parse(v.json)
                // 获取扩展列的数据主键
                this.formConfig.id = v.id
                this.formConfig.tableName = this.filters.tableName
                this.formConfig.columnName = 'ext'
              }
            })
          } else {
            this.$message({ message: '查询失败,' + res.msg, type: 'error' })
          }
          this.loading = false
        })
      }
    },
    // 显示/隐藏
    handleHide: function (row, isHide) {
      let param = {
        'columnName': row.name,
        'tableName': this.filters.tableName
      }
      if (isHide) {
        this.loading = true
        this.$api.form.hide(param).then((res) => {
          if (res.status === 1) {
            row.isHide = '1'
          } else {
            this.$message({ message: '隐藏失败,' + res.msg, type: 'error' })
          }
          this.loading = false
        })
      } else {
        this.loading = true
        this.$api.form.show(param).then((res) => {
          if (res.status === 1) {
            row.isHide = '0'
          } else {
            this.$message({ message: '显示失败,' + res.msg, type: 'error' })
          }
          this.loading = false
        })
      }
    },
    // 配置动态列
    handleSet: function (data) {

    },
    // ------------------------------左侧列表end-------------------------------------
    /**
     * 转换组件类型
     */
    formatType: function (row, column) {
      let value = row[column.property]
      this.typeOption.forEach(v => {
        if (v.itemValue === row[column.property]) {
          value = v.itemName
        }
      })
      return value
    },
    /**
     * 转换字典分类
     */
    formatDictClass: function (row, column) {
      let value = row[column.property]
      this.classOption.forEach(v => {
        if (v.code === row[column.property]) {
          value = v.name
        }
      })
      return value
    },
    /**
     * 转换是否隐藏列
     */
    formatHide: function (row, column) {
      let value = row[column.property]
      return value === '0' ? '否' : '是'
    },
    // 新增配置列
    handleAdd: function () {
      this.type = 1
      this.dialogVisible = true
      this.operation = true
      this.dataForm = {
        field: '',
        title: '',
        type: '',
        // 字典分类
        dictClass: '',
        // 占位提示
        placeholder: '',
        // 是否必填
        required: '0',
        // 是否隐藏
        isHide: '0'
      }
    },
    // 编辑配置列
    handleEdit: function (row, index) {
      this.type = 2
      this.dialogVisible = true
      this.operation = false
      this.dataForm = Object.assign({}, row)
    },
    // 删除配置列
    handleDelete: function (row) {
      this.formConfig.json = row
      this.$confirm('确认删除选择的数据吗？', '提示', {
        type: 'warning'
      }).then(() => {
        this.$api.form.remove(this.formConfig).then((res) => {
          this.callBack(res, '删除成功')
          this.findPage(null)
        })
      }).catch(() => {})
    },
    // 选择组件类型
    selectType: function (value) {
      if (value === '1') {
        this.dataForm.dictClass = ''
      } else if (value === '2') {
        this.dataForm.placeholder = ''
      } else {
        this.dataForm.dictClass = ''
        this.dataForm.placeholder = ''
      }
    },
    // 编辑
    submitForm: function () {
      let that = this
      this.$refs.dataForm.validate((valid) => {
        if (valid) {
          this.$confirm('确认提交吗？', '提示', {}).then(() => {
            that.editLoading = true
            let params = Object.assign({}, this.dataForm)
            this.formConfig.tableName = this.filters.tableName
            this.formConfig.columnName = 'ext'
            this.formConfig.json = params
            if (this.type === 1) {
              this.$api.form.add(this.formConfig).then((res) => {
                that.editLoading = false
                if (res.status === 1) {
                  this.$message({ message: '操作成功', type: 'success' })
                  this.dialogVisible = false
                  this.$refs['dataForm'].resetFields()
                } else {
                  this.$message({message: '操作失败, ' + res.msg, type: 'error'})
                }
                this.findPage(null)
              }).catch(function (res) {
                that.editLoading = false
              })
            } else {
              this.$api.form.update(this.formConfig).then(res => {
                that.editLoading = false
                if (res.status === 1) {
                  this.$message({ message: '操作成功', type: 'success' })
                  this.$refs['dataForm'].resetFields()
                  this.dialogVisible = false
                } else {
                  this.$message({
                    message: '操作失败, ' + res.msg,
                    type: 'error'
                  })
                }
                this.findPage(null)
              }).catch(function (res) {
                that.editLoading = false
              })
            }
          })
        }
      })
    }
  },
  mounted () {
    this.fetchDics()
    // this.initParam()
    let headerBarHeight = this.$global.headerHeight
    let tabHeight = this.$global.tabHeight
    let spaceHeight = this.$global.spaceHeight
    let searchHeight = this.$refs.searchDiv.offsetHeight
    let titleHeight = this.$refs.titleDiv.offsetHeight
    let pagingBarHeight = 0 // this.$global.pagingBarHeight
    // window.innerHeight:浏览器的可用高度
    this.tableHeight = window.innerHeight - headerBarHeight - tabHeight - spaceHeight - searchHeight - titleHeight - pagingBarHeight
    // 赋值vue的this
    const that = this
    // window.onresize中的this指向的是window，不是指向vue
    window.onresize = () => {
      return (() => {
        that.tableHeight = window.innerHeight - headerBarHeight - tabHeight - spaceHeight - searchHeight - titleHeight - pagingBarHeight
      })()
    }
  },
  watch: {
    tableHeight (val) {
      this.tableHeight = val
    }
  }
}
</script>
<style scoped lang="scss">
.menu-container {
  margin-top: 10px;
}
/deep/.scrollbar-wrap{
  height: 100%;
}
.el-col+.el-col {
  padding-left:0 !important;
}
.right {
  float: right;
}
</style>
