<template>
  <div ref="pageContainer" class="page-container">
    <el-form
        :model="formData"
        :rules="formRules"
        class="dialog_form"
        :class="formClass"
        :disabled="formDisabled"
        label-width="126px" ref="dataForm" :size="formSize"
        label-position="right">
        <el-form-item label="患者姓名：" prop="patientName">
          <el-input v-model="formData.patientName"></el-input>
        </el-form-item>

        <el-form-item label="拼音缩写：">
          <el-input v-model="formData.xxx" placeholder="未定义数据库字段"></el-input>
        </el-form-item>
        <el-form-item label="受试者编号：" prop="testCode">
          <el-input v-model="formData.testCode"></el-input>
        </el-form-item>
        <el-form-item label="身份证号：" prop="cardNo">
          <el-input v-model="formData.cardNo"></el-input>
        </el-form-item>
        <el-form-item label="联系方式：" prop="phone">
          <el-input v-model="formData.phone"></el-input>
        </el-form-item>
        <el-form-item label="出生日期" style="margin-bottom:0">
          <el-col :span="10">
            <el-form-item prop="birthday">
              <el-date-picker type="date" placeholder="出生日期" v-model="formData.birthday" style="width: 100%;"></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col class="line" :span="2"></el-col>
          <el-col :span="12">
            <el-form-item prop="gender" label="性别：">
               <el-radio v-model="formData.gender" label="男">男</el-radio>
               <el-radio v-model="formData.gender" label="女">女</el-radio>
            </el-form-item>
          </el-col>
        </el-form-item>

        <el-form-item label="身高：" style="margin-bottom:0">
          <el-col :span="10">
            <el-form-item prop="height">
              <el-input placeholder="单位：cm" v-model="formData.height" style="width: 100%;"/>
            </el-form-item>
          </el-col>
          <el-col :span="14">
            <el-form-item prop="weight" label="体重：">
               <el-input placeholder="单位：kg" v-model="formData.weight" style="width: 100%;"/>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="籍贯：">
          <el-input v-model="formData.native" placeholder="未定义数据库字段"></el-input>
        </el-form-item>
        <el-form-item label="现住地址：">
          <el-input placeholder="现住地址" v-model="formData.address"></el-input>
        </el-form-item>

        <el-form-item label="门诊号：" style="margin-bottom:0">
          <el-col :span="10">
            <el-form-item prop="outpatientNo">
              <el-input placeholder="门诊号" v-model="formData.outpatientNo" style="width: 100%;"/>
            </el-form-item>
          </el-col>
          <el-col :span="14">
            <el-form-item prop="inpatientNo" label="住院号：">
               <el-input placeholder="住院号" v-model="formData.inpatientNo" style="width: 100%;"/>
            </el-form-item>
          </el-col>
        </el-form-item>

        <el-form-item label="签署知情同意书：">
          <el-col :span="8">
            <el-form-item prop="signState">
              <el-radio v-model="formData.signState" label="1">是</el-radio>
              <el-radio v-model="formData.signState" label="0">否</el-radio>
            </el-form-item>
          </el-col>
          <el-col :span="16">
            <el-form-item prop="signDate" label="签署日期：">
               <el-date-picker type="date" placeholder="" v-model="formData.signDate" style="width: 100%;"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item v-if="!formDisabled" style="text-align: right;" >
          <el-button :size="formSize" @click="handleCancel">取消</el-button>
          <el-button :size="formSize" type="primary" @click="handleSubmit" :loading="operating">提交</el-button>
        </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  name: 'EditDialogContent',
  components: {
  },
  props: {
    config: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      formSize: 'small',
      operating: false,
      // formData: {
      //   patientCode: null, // 患者编号
      //   // 拼音缩写
      //   patientName: null, // 患者姓名
      //   testCode: null, // 受试者编号
      //   cardNo: null, // 身份证号
      //   birthday: null, // 出生日期
      //   gender: null, // 性别
      //   phone: null, // 联系方式
      //   height: null, // 身高
      //   weight: null, // 体重
      //   // 籍贯
      //   address: null, // 现住地址
      //   outpatientNo: null, // 门诊号
      //   inpatientNo: null, // 住院号
      //   signState: null, // 签署知情同意书
      //   signDate: ''
      // },
      formRules: {
        patientName: [
          { required: true, message: '请输入患者姓名', trigger: 'blur' },
          { min: 1, max: 10, message: '长度在 1 到 10 个字符', trigger: 'blur' }
        ],
        testCode: [
          { required: true, message: '请输入受试者编号', trigger: 'blur' }
        ],
        cardNo: [
          { required: true, message: '请输入身份证号', trigger: 'blur' }
        ],
        phone: [
          { required: true, message: '请输入联系方式', trigger: 'blur' }
        ]
      }
    }
  },
  computed: {
    formData: {
      get () {
        return this.config.initData
      }
    },
    formClass () {
      if (this.config.type === 'view') {
        return 'view'
      }
      return ''
    },
    formDisabled () {
      if (this.config.type === 'view') {
        return true
      }
      return false
    }
  },
  methods: {
    handleCancel () {
      this.$emit('cancel')
    },
    handleSubmit () {
      this.$refs.dataForm.validate((valid) => {
        if (valid) {
          this.$confirm('确认提交吗？', '提示', {}).then(() => {
            this.operating = true
            this.doSubmit() // 新增、更新用同一个接口
            // if (this.config.type === 'new') {
            //   this.doSubmit()
            // } else if (this.config.type === 'edit') {
            //   this.doUpdate()
            // }
          })
        }
      })
    },
    doSubmit () {
      let params = Object.assign({}, this.formData)
      this.$api.patient.save(params).then((res) => {
        this.operating = false
        if (res.status === 1) {
          this.$message({ message: '操作成功', type: 'success' })
          this.$refs['dataForm'].resetFields()
          this.$emit('submited')
        } else {
          this.$message({message: '操作失败, ' + res.msg, type: 'error'})
        }
      })
    }
    // doUpdate () {
    //   let params = Object.assign({}, this.formData)
    //   this.$api.patient.update(params).then(res => {
    //     this.operating = false
    //     if (res.status === 1) {
    //       this.$message({ message: '操作成功', type: 'success' })
    //       this.$refs['dataForm'].resetFields()
    //       this.$emit('submited')
    //     } else {
    //       this.$message({
    //         message: '操作失败, ' + res.msg,
    //         type: 'error'
    //       })
    //     }
    //   })
    // }
  },
  mounted () {
  },
  watch: {
  }
}
</script>

<style scoped lang="scss">
  @import "@/assets/css/detail.scss";
  @import "~theme";
  .view /deep/ {
    .el-input.is-disabled .el-input__inner {
      background-color: rgba(255,255,255,.5);
      border-color: rgba(255,255,255,.5);
      color: rgba(0,0,0,0.65);
      cursor: auto;
      padding: 0 0;
    }
    .el-input__icon.el-icon-date {
      display:none;
    }
    .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
      margin-bottom: 10px;
    }
  }
</style>
