<template>
  <div ref="pageContainer" class="page-container">
    <el-row :gutter="24" type="flex" justify="start" align="top" class="content-container">
      <el-col :span="24">
        <!-- 标题栏 -->
        <div ref="titleDiv" class="list-title__container">
          <span>患者列表</span>
        </div>
        <!-- 搜索栏 -->
        <div ref="searchDiv" class="list-select__container">
          <el-row :gutter="24" type="flex" justify="start" align="top">
            <el-col :span="6" :xs="6" :sm="6" :md="6" :lg="5">
              患者姓名：<el-input v-model="filters.patientName" size="small" clearable></el-input>
            </el-col>
            <el-col :span="6" :xs="6" :sm="6" :md="6" :lg="5">
              联系方式：<el-input v-model="filters.phone" size="small" clearable></el-input>
            </el-col>
            <el-col :span="6" :xs="6" :sm="6" :md="6" :lg="5">
              身份证号：<el-input v-model="filters.cardNo" size="small" clearable></el-input>
            </el-col>
            <el-col :span="6" :xs="6" :sm="6" :md="6" :lg="6" class="nopadding">
              <hm-button icon="fa fa-search" label="查询" perms="system:user:list" type="primary" @click="findFirstPage(null)"/>
              <hm-button icon="fa fa-file-excel-o" label="模板下载" perms="system:user:add" type="primary" @click="handleDownTemplate" />
              <hm-button icon="fa fa-upload" label="导入患者" perms="system:user:add" type="primary" @click="handleImport" />
              <hm-button icon="fa fa-plus" label="新增患者" perms="system:user:add" type="primary" @click="handleAdd" />
            </el-col>
          </el-row>
        </div>
        <!--表格内容栏-->
        <el-table ref="userTable" :height="tableHeight" :data="pageResult.records" stripe size="mini"
          rowKey="id" v-loading="tableLoading" element-loading-text="拼命加载中">
          <el-table-column type="index" width="50" label="序号"></el-table-column>
          <el-table-column
            prop="testCode" header-align="center" align="center" minWidth="90" label="受试者编号">
          </el-table-column>
          <el-table-column
            prop="patientName" header-align="center" align="center" minWidth="120" label="患者姓名">
          </el-table-column>
          <el-table-column
            prop="phone" header-align="center" align="center" minWidth="90" label="联系方式">
          </el-table-column>
          <el-table-column
            prop="cardNo" header-align="center" align="center" minWidth="90" label="身份证号">
          </el-table-column>
          <el-table-column
            prop="birthday" header-align="center" align="center" minWidth="90" label="出生日期">
          </el-table-column>
          <el-table-column
            prop="gender" header-align="center" align="center" minWidth="90" label="性别">
          </el-table-column>
          <el-table-column
            header-align="center" align="center" minWidth="90" label="患者状态">
            <template slot-scope="scope">
              存活
            </template>
          </el-table-column>
          <el-table-column
            prop="address" header-align="center" align="center" minWidth="90" label="现住地址">
          </el-table-column>
          <el-table-column
            fixed="right" header-align="center" align="center" width="350" label="操作">
            <template slot-scope="scope">
              <hm-button icon="fa fa-edit" label="查看" perms="system:user:list" type="primary" size="mini" @click="handleDetail(scope.row)"/>
              <hm-button icon="fa fa-edit" label="病例维护" perms="system:user:resetPassword" type="primary" size="mini" @click="handlePatientCase(scope.row)"/>
              <hm-button icon="fa fa-edit" label="修改" perms="system:user:update" type="primary" size="mini" @click="handleEdit(scope.row)"/>
              <hm-button icon="fa fa-trash" label="删除" perms="system:user:remove" type="danger" size="mini" @click="handleDelete(scope.row)"/>
            </template>
          </el-table-column>
        </el-table>
        <!--分页栏-->
        <div class="toolbar clearfix">
          <el-pagination layout="total, sizes, prev, pager, next, jumper"
            @current-change="refreshPageRequest"
            @size-change="handleSizeChange"
            :current-page="pageRequest.pageNum"
            :page-sizes="[20, 50, 100]"
            :page-size="pageRequest.pageSize" :total="pageResult.total" style="float:right;">
          </el-pagination>
        </div>
      </el-col>
    </el-row>

    <el-dialog title="导入患者" width="40%" :visible.sync="importDlgConfig.visible" :close-on-click-modal="false">
      <el-upload
        class="upload-demo"
        ref="upload"
        action="#"
        accept=".xls,.xlsx"
        :http-request="handleUpload"
        :file-list="importDlgConfig.fileList"
        :multiple="false"
        :auto-upload="false">
        <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
        <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
        <div slot="tip" class="el-upload__tip">只能上传xls/xlsx文件，且不超过500kb</div>
      </el-upload>
    </el-dialog>

    <el-dialog :title="editDlgConfig.title" width="40%" :visible.sync="editDlgConfig.visible" :close-on-click-modal="false">
      <edit-dialog-content :config="editDlgConfig" @submited="handleSubmited" @cancel="editDlgConfig.visible = false"></edit-dialog-content>
    </el-dialog>

  </div>
</template>

<script>
import PatientListMixin from './patient-list-mixin'
export default {
  mixins: [PatientListMixin]
}
</script>

<style scoped lang="scss">
.list-select__container .el-input{
  width: 80%;
}
</style>
